# Files and directories created by pub
pubspec.lock
.packages
.pub/
.buildlog #added by Chris unsure if needed
build/
web/packages
tool/packages
files/
installer.retry

**/packages/

web/packages
tool/packages

#atom text editor file
.atom

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/api/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws
