body {
  display: flex;
  flex-direction: column;
  margin: 15px;
  color: #555;
  font-family: sans-serif;
}

#output {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0px 5px 5px;
  width: 80%;
  height: 60%;
  border: 1px solid Silver;
  background-color: White;
}

html,
body,
.container {
  height: 100%;
}

textarea.form-control {
  height: 100%;
}

h2 {
  margin-bottom: 0;
}

select {
  width: 100px;
}

#controls {
  margin-bottom: 1em;
}

#footer {
  text-align: center;
  font-size: 0.8em;
}

#container {
  box-sizing: border-box;
}

.glyphicon-heart-empty {
  color: black;
}

.glyphicon-heart {
  color: neon-green;
}

.message-list {
  overflow-y: scroll;
  max-height: 30vh;
}

#container output {
  clear: both;
  width: 100%;
  background-color: black;
  color: white;
  overflow-y: scroll;
  height: 200px;
}

#container output h3 {
  margin: 0;
}

#container output pre {
  margin: 0;
}

.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
  background-color: black;
  color: white;
  height: auto;
}

.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.prompt {
  white-space: nowrap;
  color: green;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}

#myCanvas {
    height: 350px;
    width: 100%;
    border: 1px solid grey;
}

/* Css for the Filebrowser */

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}
#newPassword {
  margin-bottom: 5px;
}



.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
