body {
  display: flex;
  flex-direction: column;
  margin: 15px;
  color: #555;
  font-family: sans-serif;
}

#output {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0px 5px 5px;
  width: 80%;
  height: 60%;
  border: 1px solid Silver;
  background-color: White;
}

html,
body,
.container {
  height: 100%;
}

textarea.form-control {
  height: 100%;
}


h2 {
  margin-bottom: 0;
}

select {
  width: 100px;
}

#controls {
  margin-bottom: 1em;
}

#footer {
  text-align: center;
  font-size: 0.8em;
}

#container {
 box-sizing: border-box;}
